DATABASE_URL=postgresql://YOUR_POSTGRES_CONNECTION
JWT_SECRET=YOUR_SECRET

QF_CLIENT_ID=YOUR_PRELIVE_CLIENT_ID
QF_CLIENT_SECRET=YOUR_PRELIVE_CLIENT_SECRET

QF_REDIRECT_URI=https://my-app/auth/callback
FRONTEND_URL=http://localhost:3000
CORS_ORIGINS=http://localhost:3000

QF_AUTH_BASE_URL=https://prelive-oauth2.quran.foundation
QF_CONTENT_BASE_URL=https://apis-prelive.quran.foundation/content/api/v4
QF_CONTENT_TOKEN_URL=https://prelive-oauth2.quran.foundation/oauth2/token
QF_USER_API_BASE_URL=https://apis-prelive.quran.foundation
QF_AUDIO_BASE_URL=https://verses.quran.foundation
